aiohttp==1.0.5
async-timeout==3.0.1
beautifulsoup4==4.4.0
cached-property==1.5.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
discord==0.0.2
discord.py==0.16.12
docutils==0.14
Flask==1.0.2
future==0.16.0
get==1.0.3
idna==2.7
ItsDangerous==1.0.0
Jinja2==2.10
Kivy==1.10.1
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.10
kivy.deps.gstreamer==0.1.13
kivy.deps.sdl2==0.1.18
MarkupSafe==1.0
mathparse==0.1.2
multidict==4.4.2
newsapi==0.1.1
nltk==3.3
oauthlib==2.1.0
post==1.0.2
public==2.0.1
pygame==1.9.4
Pygments==2.2.0
pynder==0.0.13
pypiwin32==223
python-dateutil==2.6.1
python-twitter==3.4.2
python-vlc==3.0.4106
pyttsx3==2.7
pyufc==0.11
pywin32==224
PyYAML==3.13
query-string==1.0.2
request==1.0.2
requests==2.7.0
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24
websockets==3.4
Werkzeug==0.14.1
wikipedia==1.4.0
