 

.ant-layout .site-layout {
    background-image: url("img/Profile.jpg");
    background-size: cover;
    box-sizing: border-box;
  }

 
  .logo{

    background-image: url("img/logo.jpg");
    height: 90px;
    width: 200px;
  }

  .site-layout .site-layout-background {
    background: rgba(255, 255, 255, 0.863);
  }
    [data-theme="dark"] .site-layout ,.site-layout-background {
      background: #141414;
    }



    .ant-layout-sider-children,.ant-menu-item{
    background:#141414;
}

.ant-menu-inline{
    background:#141414;

}
.ant-menu-dark{
  background:#141414 !important
}
.ant-menu-root{
    background:#141414 !important
}

.ant-menu-item-selected,.ant-menu-item-only-child{
  background:#141414 !important
}


.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}

.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}